.joinmeething{
    width: 3.5cm;
    height: 3.5cm;
    background-color: #f43131;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: absolute; */
    top: 7cm;
    box-shadow: 0 0 10px rgb(98, 98, 98);
    left: 17cm;
    border-radius: 10px;
    cursor: pointer;
}
.joinmeething i{
    color: white;
}
.but1,.but2,.but3{
    width: 3.5cm;
    height: 3.5cm;  
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.668);
    border-radius: 10px;
    background-color: #101c38;
}

.home-container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows:  200px 200px;
    position: absolute;
    margin-left: 45vw;
    margin-top: 20vh;

}
.home-container i{
    font-size: 30px;
    color: white;
}
