
button.VsTVUAD89KWleD0YRVsD{
  background-color: #f43131;
}
button.VsTVUAD89KWleD0YRVsD:hover{
  background-color: #f84949;
}
div.qJdF_iTl1gv6JkFZmE2R .tQCB5Tj6hsWzMNzTg5og{
  background-color: #f43131;
}
div.QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q:hover, .QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q:focus, .QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q:active, .QajuHzlZleFtiTUp_E8u .TYiiRFB3EhYJGVPE4k4q:focus-visible{
  border: 1px solid #333333;
}
div.xM8CBkrn0wtFOdOP84Bb button[disabled]{
  background-color: #f43131af;
}
div.xM8CBkrn0wtFOdOP84Bb button{
  background-color: #f43131;

}
div._XRS2rWR1HN9YsjmOPmm .TTgLs8cpg66Z6CXgHGVA{
  background-color: #f43131;
  border:1px solid #f43131;
}
div._XRS2rWR1HN9YsjmOPmm .nRumfFQWv_1Hnf9jP5qZ{
  color: #f43131;
}
div.j9ygOVxEl2nClTPs77Ta .IughcowXVrJ5wcOf6vH9{
  background-color: #f43131;
}
div.j9ygOVxEl2nClTPs77Ta .mCx2N1NwuMWObjjTeG0q{
  color: #f43131;
}
div.z_Raef7MoQTTp7fHENMF .yZqd3D1to9HjAdrmztDe p{
  background-color: #f43131;
}
div.dIzgYQV4CBbzZxzJbwbS .VFa21T9RLFCP0goDE198{
  background-color: #f43131;
}
div.dIzgYQV4CBbzZxzJbwbS .VFa21T9RLFCP0goDE198:hover{
  background-color: #ff5454;
}
div.vjwEXnTmP6jAK8LlvWL_ .vRymZYPLKPwd4n9uqA9E{
  background-color: #f43131;
}
div.vjwEXnTmP6jAK8LlvWL_ .vRymZYPLKPwd4n9uqA9E:hover{
  background-color: #ff5454;
}
div.QajuHzlZleFtiTUp_E8u .VsTVUAD89KWleD0YRVsD[disabled]{
  background: #f4313186;
}
button.VsTVUAD89KWleD0YRVsD[disabled]{
  background: #f4313186;
  
}
div.D9WLyEQaARfWqCTyVrpU{
  background-color: #101c38;
}
div.pOvRwHj19chJGkgemUH3 ._M8cCug8H18ALQ05cNMt{
  color:white
}
div.VNZilENM9Pb7KbRFOkYR{
  background-color: #0e1830;
}
input.Ym5tIpCMz8al_AZ4Lk5y{
  background-color: #0e1830;
}
div.VNZilENM9Pb7KbRFOkYR .rfwQfzz6DVBVPNyQIs9o h3{
  color: white;
}
div.QajuHzlZleFtiTUp_E8u .D9WLyEQaARfWqCTyVrpU,div.D9WLyEQaARfWqCTyVrpU{
  box-shadow: 0px 12px 20px 0px #070c18;
  border: none;
}